@font-face {
  font-family: "RedHat";
  src: url("./assets/fonts/RedHat.woff2");
}

:root {
  --body-background: #101010;
  --body-color: #fff;
  --heading-color: #e0cc11;
}
[data-theme="light"] {
  --body-background: #fff;
  --body-color: #101010;
  --heading-color: #0e0e0e;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--body-background);
  color: var(--body-color);
  font-family: "RedHat", sans-serif;
}

.align_center {
  display: flex;
  align-items: center;
}
